.dashboard-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; /* Prevent scrolling */
}

.dashboard-heading {
  text-align: left; 
  font-size: 2.2rem;
  font-weight: 600;
  font-weight: se;
  color: #4D4D4D;
  margin-top: 1rem;
  margin-left: 2rem; 
  margin-bottom: 1rem;
  width: 75%; /* Equivalent to md:w-3/4 */
line-height: 1.2; /* Equivalent to leading-snug */


}



.button-container {
  display: flex;
  gap: 2rem; /* Space between buttons */
  margin-left: 2rem; /* Align buttons with the heading */
  margin-bottom: 1rem;
}

.cities {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem; /* Reduced gap between clocks */
  justify-content: center;
  align-items: center;
  padding: 1rem; /* Reduced padding */
  width: 100%;
  height: calc(100vh - 136px); /* Adjusted height to fit everything */
  margin: 0;
  background-color: rgba(178, 173, 173, 0.2);
}

.city-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 20px;
  border: 1px solid #cdc3c3;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  color: #ddd;
  backdrop-filter: blur(10px);
  width: 200px;
  height: 200px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}

.city-name {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  color: #44446e;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.city-time {
  font-size: 1.1rem;
  font-weight: 500;
  background: rgba(153, 130, 130, 0.5);
  padding: 0.5rem;
  border-radius: 20px;
  color: #44446e;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.day-night-icon {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  z-index: 2;
}

.sun {
  color: #f4ce36;
}

.moon {
  color: #afa9a9;
}

.toggle-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #4caf4f;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.toggle-btn:hover {
  background-color: #393737;
  transform: translateY(-3px);
}