.dashboard-container {
  position: relative;
  width: 100%;
  height: 100vh; 
}

.cities {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  justify-content: center;
  align-items: center;
  padding: 2rem; 
  padding-top: 6rem;
  width: 100%;
  height: 100vh;
  margin: 0; 
  background-color: rgba(178, 173, 173, 0.2);
  padding-left: 4rem;
}



.city-zone:hover {
  outline: #ff0000;
}

.city-zone:active {
  transform: scale(0.8);
}

.toggle-btn {
  margin-left: 2rem;
  position: absolute;
  top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #4caf4f;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.toggle-btn:hover {
  background-color: #393737;
  transform: translateY(-3px);
}

.toggle-btn.right {
  right: 20px; /* Position on the right side */
  left: auto; /* Reset left positioning */
}


/* Existing styles... */

.city-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 20px;
  border: 1px solid #cdc3c3;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1); /* Light background for better contrast */
  color: #ddd;
  backdrop-filter: blur(10px);
  width: 200px;
  height: 200px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}

.city-name {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  color: #44446e; 
  text-decoration: bold;/* Ensure text is visible */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add shadow for better readability */
}

.city-time {
  font-size: 1.1rem;
  font-weight: 500;
  background: rgba(153, 130, 130, 0.5);
  padding: 0.5rem;
  border-radius: 20px;
  color: #44446e; /* Ensure text is visible */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add shadow for better readability */
}

/* Day/Night icon styles */
.day-night-icon {
  position: absolute;
  bottom: -30px; /* Position below the circle */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  font-size: 1rem;
  z-index: 2; /* Ensure the icon is above the flag */
}

.sun {
  color: #f4ce36; /* Yellow for sun */
}

.moon {
  color: #afa9a9; /* Light gray for moon */
}