.projects-body {
    background: rgb(214, 212, 212);
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-container {
    background-color: #fff;
    padding: 25px 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 900px;
}

.projects-container h1 {
    font-size: x-large;
    text-align: left;
    color: #4206a3;
}

/* Form Structure */
.form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: stretch;
}

.form-column {
    width: 48%;
    display: flex;
    flex-direction: column;
}

/* Inputs & Labels */
.projects-container label {
    font-size: 15px;
    font-weight: bold;
    color: #555;
    margin-top: 15px;
}

.projects-container input,
textarea {
    width: 100%;
    padding: 8px;
    border-radius: 15px;
    border: 1px solid #ccc;
}

.textarea {
    height: 100px;
}

/* Priority Level Buttons */
.plevel h4 {
    margin-bottom: 10px;
}

.priority-buttons {
    display: flex;
    gap: 10px;
}

.priority-buttons button {
    border: none;
    color: white;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.high {
    background-color: red;
}

.medium {
    background-color: orange;
}

.low {
    background-color: green;
}

/* Date Picker */
.date-picker {
    display: flex;
    flex-direction: column;
    width: 50px;
}

.date-picker input {
    width: 100%;
    padding: 8px;
    border-radius: 15px;
    border: 1px solid #ccc;
}

/* Members Section */
.members-section input {
    width: 100%;
    padding: 8px;
    border-radius: 15px;
    border: 1px solid #ccc;
}

/* Form Buttons */
.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.form-btn {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    background: #358bcd;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
}

.form-btn:hover {
    background: #1d98c1;
    color: rgb(19, 19, 19);
}
