@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Monoton:wght@200;300;400;500;600;700;800&display=swap');

*{

  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif;

}

.sidebar{
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 10px;
  padding-bottom: 15px;
  gap: 10px;
}

.logo-img {
  width: 50px; 
  height: 48px;
}

.logo-text {
  font-size: 1.4rem;
  font-weight: bold;
  color: #44446e
  ; 
}


.sidebar{
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1); 
  width: 450px;
}